// Theme colors
$night: #1d1b67;
$sea: #3b60bf;
$sky: #46ccde;
$pool: #cdf9ff;
$lead: #005661;
$overcast: #425466;
$ash: #9ea0a1;
$black: #000000;
$white: #ffffff;

$colors: (
    "night": $night,
    "sea": $sea,
    "sky": $sky,
    "pool": $pool,
    "lead": $lead,
    "overcast": $overcast,
    "black": $black,
);

// Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// Font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
