@mixin base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 50px;

  &:hover {
    cursor: pointer;
  }
}

.bt-blue {
  @include base-button;
  color: white;
  background-color: map-get($colors, "night");

  &.bt-blue-big {
    width: auto;
  }
}
.bt-white {
  @include base-button;
  color: map-get($colors, "overcast");
}
